<h3><%= "Where does your allegiance lay?" %></h3>

<% @houses.each do |house| %>
  <h1><%= link_to house.name, house_path(house) %></h1>
  <img src="<%= house.img_url%>"/>
<% end %>

<h3><%= link_to "Add House", new_house_path %></h3>
