/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* assets/stylesheets */
@font-face {
  font-family: "thrones";
  src: url('game_of_thrones.ttf') format("truetype");
}

body {
  font-family: 'Cinzel Decorative', cursive;
  background: #f4eb4b;
  background: -webkit-linear-gradient(top left, #f4eb4b, #7c7a56);
  background: -o-linear-gradient(top left, #f4eb4b, #7c7a56);
  background: linear-gradient(to bottom right, #f4eb4b, #7c7a56);
  text-align: center;
}
